.wrapper {
  z-index: 997;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  width: calc(100% - 16px);
  max-width: 520px;
  border-radius: var(--rounded-md);
  border: 1px solid color-mix(in srgb, var(--color-gray-400) 25%, transparent);
  backdrop-filter: blur(14px);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.78);
  background: linear-gradient(
      0deg,
      var(--color-gray-600) 0%,
      var(--color-gray-600) 100%
    ),
    var(--color-black-800);
}

@media only screen and (min-width: 1025px) {
  .wrapper {
    display: none;
  }
}
