:root {
  /* container */
  --container-width-lg: 2460px;
  --container-padding-lg: 40px;

  --container-width-md: 1024px;
  --container-padding-md: 24px;

  --container-width-sm: 768px;
  --container-padding-sm: 16px;

  --container-width-xs: 480px;
  --container-padding-xs: 12px;

  /* colors */
  --color-black-800: #131313;
  --color-black-600: #1d1d1d;
  --color-white-800: #f5f5f5;

  --color-gray-800: #282828;
  --color-gray-600: #4d4d4d;
  --color-gray-400: #787878;
  --color-gray-200: #bbbbbb;

  --color-yellow-600: #ffb800;

  --color-green-800: #36d000;
  --color-green-600: #68a106;

  --color-red-800: #cc0000;

  /* rounded */
  --rounded-lg: 24px;
  --rounded-md: 16px;
  --rounded-sm: 14px;
  --rounded-xs: 8px;
  --rounded-xxs: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--color-black-800);
}

.container {
  max-width: var(--container-width-lg);
  padding: 0 var(--container-padding-lg);
}

/* Intro slider buttons */
.navigation-button {
  cursor: pointer;
  position: absolute;
  z-index: 9;
  top: 45%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px solid
    color-mix(in srgb, var(--color-black-800) 38%, transparent);
  background: linear-gradient(
    48deg,
    rgba(152, 152, 152, 0.65) 14.45%,
    rgba(141, 141, 141, 0.5) 86.8%
  );
}

.disabled-button {
  opacity: 0.3;
  pointer-events: none;
}

.preview-button {
  right: 19px;
}

.next-button {
  left: 19px;
  rotate: 180deg;
}

.swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--color-gray-400);
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--color-gray-400);
}

/* sponsoer swiper */
.custom-slider .swiper-wrapper {
  display: flex;
  align-items: center;
  transition-timing-function: linear !important;
}

@media only screen and (min-width: 1025px) {
  [class*="MuiSelect-select"][class*="MuiOutlinedInput-input"] {
    padding-right: 16px !important;
  }
}

@media only screen and (max-width: 1024px) {
  [class*="MuiSelect-select"][class*="MuiOutlinedInput-input"] {
    padding-right: 0 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: var(--container-width-md);
    padding: 0 var(--container-padding-md);
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: var(--container-width-sm);
    padding: 0 var(--container-padding-sm);
  }
}

@media only screen and (max-width: 479px) {
  .container {
    max-width: var(--container-width-xs);
    padding: 0 var(--container-padding-xs);
  }
}
